<!-- Highlight-->
<div class="border-bottom pb-3 mb-5">
    <div class="heading">
        <h3 class="title fs-3 text-primary">Highlights</h3>
    </div>
    <ul>
        <li>
            Luxury Private Tours: Luxury Cars, Best Prices, Save Money, Time &
            Great Value!
        </li>
        <li>
            Trek over 7 different suspension bridges&Cliffwalk over the forests
            of Vancouver
        </li>
        <li>
            See the Grizzly Bear, LUMGERJACK, The Eye of the Wind, Owl& Raptor
            show.ZIPLINES
        </li>
        <li>
            Learn about native Hatchery Canadian's connections to nature at
            Kia'palano
        </li>
        <li>
            Witness the springboard chop - a unique event found only here in
            North America
        </li>
    </ul>
</div>
<!-- /Highlight-->
<!-- About tour -->
<div class="border-bottom pb-3 mb-5">
    <div class="heading">
        <h3 class="title fs-3 text-primary">About tour</h3>
    </div>
    <ol>
        <li>
            <h5>GROUSE MOUNTAIN</h5>
            <ul>
                <li>
                    <strong>SKYRIDE</strong>
                    <p>
                        Take a scenic ride up the mountain for breathtaking
                        views of Vancouver and the surrounding area.
                    </p>
                </li>
                <li>
                    <strong>PEAK CHAIRLIFT</strong>
                    <p>
                        Ascend to 4,100 feet on our iconic Peak Chairlift, Here,
                        behold a unique panoramic view, an awe-inspiring sight
                        you won't find anywhere else.
                    </p>
                </li>
                <li>
                    <strong>HIKING TRAILS</strong>
                    <p>
                        Enjoy various hiking trails suitable for different skill
                        levels.
                    </p>
                </li>
                <li>
                    <strong>GRIZZLY BEAR REFUGE</strong>
                    <p>
                        Visit the refuge to learn about grizzly bears and see
                        TWO AMAZING HUGE GRIZZLY up close in a natural habitat.
                    </p>
                </li>
                <li>
                    <strong>WORLD-FAMOUS LUMGERJACK</strong>
                    <p>
                        Experience the thrill of champion lumberjacks in action!
                        Set in two 1900s logging camps, this high-energy show
                        features log rolling, a daring 60-foot tree climb, axe
                        throwing, and the exhilarating springboard chop - a
                        unique event found only here in North America. Get ready
                        for non-stop excitement that'll leave you on the edge of
                        your seat!
                    </p>
                </li>
                <li>
                    <strong>OWL TALKS SHOW</strong>
                    <p>
                        An opportunity to see birds of prey up close. Such as
                        OWL, Eagle and other birds of prey.
                    </p>
                </li>
                <li>
                    <strong>THE EYE OF THE WIND & GROUSE MOUNTAIN PEAK</strong>
                    <p>
                        A unique wind turbine with a glass viewing pod offering
                        panoramic views and enjoy the stunning vistas from the
                        mountain's summit.
                    </p>
                </li>
                <li>
                    <strong>ZIPLINING</strong>
                    <p>
                        Experience the thrill of ziplining through the
                        mountain's forests.
                    </p>
                </li>
                <li>
                    <strong>ROPES ADVANTURE</strong>
                    <p>
                        Experience the thrill! Conquer aerial ropes courses with
                        balance, jumps, climbs, swings, and ziplines. Get ready
                        for an adrenaline-packed journey through the treetops!
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <h5>CAPILANO SUSPENSION BRIDGE</h5>
            <ul>
                <li>
                    <strong>THE SUSPENSION BRIDGE</strong>
                    <p>
                        Step onto the legendary 450-foot Capilano Suspension
                        Bridge for an unforgettable adventure! Feel the thrill
                        as you wobble across this historic landmark, suspended
                        high above the stunning Capilano River. From lush
                        gardens to the serene rainforest, immerse yourself in
                        nature's beauty and join millions who have marveled at
                        its swaying views over the past 130 years.
                    </p>
                </li>
                <li>
                    <strong>CLIFFWALK</strong>
                    <p>
                        Experience the thrill of Cliffwalk, a gravity-defying
                        walkway clinging to the granite cliff high above
                        Capilano Canyon. Prepare for breathtaking views on the
                        edge of nature like never before!
                    </p>
                </li>
                <li>
                    <strong>TREETOPS ADVENTURER</strong>
                    <p>
                        Soar above the coastal rainforest on 7 suspension
                        bridges and towering platforms for a thrilling
                        adventure. Experience the forest from a squirrel's eye
                        view like never before!
                    </p>
                </li>
                <li>
                    <strong>KIA’PALANO</strong>
                    <p>
                        At Kia'palano, delve into the rich heritage of the
                        Indigenous people who have inhabited this land for
                        millennia. Discover the profound connection between
                        their culture and the natural world.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <h5>HATCHERY</h5>
            <p>
                Immerse yourself in nature's spectacle at the Hatchery!
                Experience the vibrant colors of fall as you stroll amidst
                towering trees and serene streams. Marvel at breathtaking views
                of cascading waterfalls and majestic mountains, all while
                witnessing the awe-inspiring journey of salmon returning to
                spawn. Don't miss your chance to witness the beauty and wonder
                of this natural paradise
            </p>
        </li>
        <li>
            <h5>DAM</h5>
            <p>
                View an impressive spillway nearing 300 feet, holding back the
                670-acre man-made Capilano Lake, which provides the wonderful,
                pure drinking water for much of the Greater Vancouver region.
                Capilano-Pacific Trail runs 5 miles (8 km) north from Ambleside
                Park to Capilano Lake.
            </p>
        </li>
    </ol>
</div>
<!-- /About tour -->
<!-- Included -->
<div class="border-bottom pb-2 mb-5">
    <div class="heading mb-3">
        <h3 class="title fs-3 text-primary">Included</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled lh-xl p-3">
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Luxury car transit
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Private guided tour
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Soft Drink
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    You'll receive a 10% discount on restaurant and coffee
                    orders and a 20% discount at retail stores, courtesy of your
                    tour guide.
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Grouse Mountain
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Skyride Gondola
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Peak Chairlift
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Grouse Mountain's Lumberjack
                    Show
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Raptor birth show
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to The Eye of the Wind
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Treetops Adventure
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Cliffwalk
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission to the Story Centre
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Kia'palano | Capilano
                    Suspension Bridge
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to The Trading Post
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Cleveland Dam
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to the Hatchery Museum
                </li>
                <li>
                    <i class="fa fa-check-circle text-primary"></i>
                    Admission or entry ticket to Hatchery
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled lh-xl p-3">
                <li>
                    <i class="fa fa-times-circle text-danger"></i>
                    Ticket for the zipline or Rope Adventure
                </li>
                <li>
                    <i class="fa fa-times-circle text-danger"></i>
                    Restaurants
                </li>
                <li>
                    <i class="fa fa-times-circle text-danger"></i>
                    Photograph and frame
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Included -->
<!-- What to bring -->
<div class="border-bottom pb-2 mb-5">
    <div class="heading mb-3">
        <h3 class="title fs-3 text-primary">What to bring</h3>
    </div>
    <ul class="lh-xl">
        <li>Comfortable shoes</li>
        <li>Warm clothing</li>
    </ul>
</div>
<!-- /What to bring -->
<!-- Information -->
<div class="pb-2 mb-5">
    <div class="heading mb-3">
        <h3 class="title fs-3 text-primary">Information</h3>
    </div>
    <ul class="lh-xl">
        <li>
            Please check the Grouse Mountain Weather to bring suitable cloths
        </li>
        <li>
            Please be ready for the first pick-up at Burrard Sky train at 9:30
            AM and the second at 10:45 AM
        </li>
        <li>
            Hotel pick-up is available from select Downtown Vancouver hotels,
            but you must schedule this at least one hour in advance (by 8:30 AM
            or 10 AM). Luxury transportation will not go to hotels without a
            scheduled pick-up time and confirmation.
        </li>
        <li>The ticket for the zipline is $59</li>
        <li>The ticket for Rope Adventure is $49</li>
    </ul>
</div>
<!-- /Information -->
